/* Styles for the heading in the review form and reviews list */
.review-form h2,
.reviews-list h2 {
  font-size: 1.05rem;
  margin-bottom: 36px;
  color: #000;
  position: relative;
  display: inline-block;
  margin-top: 24px;
}

/* Decorative line under the heading */
.review-form h2::after,
.reviews-list h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: linear-gradient(to left, white, black);
  margin-top: 5px;
}

/* Styles for the textarea in the review form */
.review-form textarea {
  width: 100%;
  height: 80px;
  resize: none;
  padding: 10px;
  border: 0.5px solid #b5b5b5;
  border-radius: 24px;
  font-size: 0.875rem;
  margin-bottom: 28px;
  color: #000;
  background-color: #fff;
}

/* Styles for the submit button */
.submit-btn {
  display: inline-block;
  padding: 10px 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

/* Hover effect for the submit button */
.submit-btn:hover {
  background-color: #333;
}

/* Styles for the reviews list container */
.reviews-list {
  margin-top: 40px;
}

/* Styles for the heading in the reviews list */
.reviews-list h2 {
  font-size: 1.05rem;
  margin-bottom: 15px;
  color: #000;
}

/* Styles for individual review cards */
.review-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 24px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  line-height: 1.5;
  color: #000;
}

/* Styles for the message when there are no reviews */
.no-reviews {
  text-align: center;
  font-size: 0.875rem;
  color: #000;
}

/* Styles for the modal overlay */
.modal {
  position: fixed;
  bottom: 20px; /* Positioned at the bottom */
  right: 20px; /* Positioned at the right */
  width: auto; /* Auto width */
  height: auto; /* Auto height */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px; /* Added padding for better spacing on smaller screens */
}

/* Styles for the modal content */
.modal-content {
  background-color: #000000;
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 16px; /* More rounded corners */
  width: 100%; /* Slightly wider for better visibility */
  max-width: 350px; /* Increased max-width for larger screens */
  text-align: center;
  position: relative;
  color: #fff; /* Light text color */
}

.review-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: end;
  color: #757575;
}

.edit-btn {
  margin-right: 10px;
}

.delete-btn {
  margin-left: 10px;
}

.save-btn {
  margin-left: 10px;
}

.cancel-btn {
  margin-left: 20px;
}

.edit-review {
  margin-right: 36px;
  width: 100%;
  height: 80px;
  resize: none;
  padding: 10px;
  border: 0.5px solid #b5b5b5;
  border-radius: 24px;
  font-size: 0.875rem;
  margin-bottom: 28px;
  color: #000;
  background-color: #fff;
}
